/* main.css */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #FFFFFF;
    margin: 50px 10%;
    padding: 0px;
}

h1, h2, h3 {
    color: #2B26AD;
    padding-top: 30px;
}

a {
    color: #FFBF40;
}

a:visited {
    color: #ffa319;
}

.tagline {
    text-align: center;
    padding: 0px;
    margin-bottom: 50px;
}

.container {
    padding: 20px;
    background-color: #c7d0ff;
    border-radius: 15px;

    p {
        margin: 0;
    }
}

.flex-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Arial Narrow', sans-serif;
    font-size: 12em; */
    display: block;
    margin: auto;
    width: 60%;
    max-width: 400px;
}

#icon {
    width: 256px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.2);
}

#download-info {
    margin-left: 20px;

    h2, h3, h4 {
        padding: 0px;
        margin: 0px;
    }

    h4 {
        margin-bottom: 20px;
    }
}